<link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
<style>
  .flexBox{
    display:flex;
  }
  .container{
    flex: 1;
    position: relative;
    display: block;
    height: 800px;
    width: 100%;
    background-image: url("https://images.theconversation.com/files/349387/original/file-20200724-15-ldrybi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop");
  }
  .container1{
    flex: 1;
    position: relative;
    display: block;
    height: 800px;
    width: 100%;
    background-image: url("https://static.vitra.com/media/asset/1864940/storage/v_fullbleed_1440x/24012303.jpg");
  }
 
</style>
<%- include ("./partials/header"); %>
<div class="flexBox">
  <div class="container"></div>
  <div class="container1"></div>
  
</div> 

 
<%- include ("./partials/footer"); %>


